/* Code Syntax Highlighting:
 * - https://pygments.org/docs/tokens/
 * - https://github.com/pygments/pygments/blob/master/pygments/token.py
 */

.code::selection, .code *::selection,
.highlight::selection, .highlight *::selection,
.code::-moz-selection, .code *::-moz-selection,
.highlight::-moz-selection, .highlight *::-moz-selection {
    background-color: var(--main-fg-color) !important;
    color: var(--main-bg-color) !important;
}

/* Text.Whitespace */
.code .w, .highlight .w { }

/* Escape */
.code .esc, .highlight .esc {
    color: var(--magenta);
}

/* Error */
.code .err, .highlight .err {
    background-color: var(--standout-bg-color);
    border: 1px solid var(--red);
    color: var(--red);
    font-weight: bold;
    padding: 0 0.1em;
}

/* Other */
.code .x, .highlight .x {
    border: 1px dotted;
    color: var(--faint-fg-color);
}

/* Keywords
 *
 * k: Keyword; kd: Keyword.Declaration; kn: Keyword.Namespace
 * kc: Keyword.Constant; kp: Keyword.Pseudo
 * kr: Keyword.Reserved
 * kt: Keyword.Type
 */
.code .k, .code .kd, .code .kn, .code .kr,
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kr {
    /* See also: Name.Tag (nt) */
    color: var(--green);
    font-weight: bold;
}
.code .kc, .code .kp,
.highlight .kc, .highlight .kp {
    color: var(--orange);
}
.code .kr, .highlight .kr {
    border: 1px solid var(--red);
    text-decoration: line-through solid var(--main-fg-color);
}
.code .kt, .highlight .kt {
    /* See also: Name.Class (nc) */
    color: var(--blue);
    font-weight: bold;
    text-decoration: underline solid var(--faint-fg-color);
}

/* Names
 *
 * n: Name; no: Name.Constant; nx: Name.Other
 * nv: Name.Variable; vg: Name.Variable.Global
 * vc: Name.Variable.Class; vi: Name.Variable.Instance
 * na: Name.Attribute
 * nb: Name.Builtin
 * bp: Name.Builtin.Pseudo; fm: Name.Function.Magic; vm: Name.Variable.Magic
 * nc: Name.Class; ne: Name.Exception; nn: Name.Namespace
 * nd: Name.Decorator
 * ni: Name.Entity
 * nf: Name.Function
 * fm: Name.Function.Magic
 * py: Name.Property
 * nl: Name.Label
 * nt: Name.Tag
 */
.code .n, .code .no, .code .py, .code .nx,
.code .nv, .code .vc, .code .vg, .code .vi,
.highlight .n, .highlight .no, .highlight .py, .highlight .nx,
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    /* See also: String.Symbol */
}
.code .na, .highlight .na {
    color: var(--yellow);
}
.code .nb, .highlight .nb {
    color: var(--strong-fg-color);
    text-decoration: underline solid var(--faint-fg-color);
}
.code .bp, .code .fm, .code .vm,
.highlight .bp, .highlight .fm, .highlight .vm {
    color: var(--orange);
}
.code .nc, .code .ne, .code .nn,
.highlight .nc, .highlight .ne, .highlight .nn {
    /* See also: Keyword.Type (kt) */
    color: var(--blue);
    font-weight: bold;
}
.code .nd, .highlight .nd {
    color: var(--magenta);
}
.code .ni, .highlight .ni {
    /* border: 1px solid var(--magenta); */
    color: var(--orange);
}
.code .nf, .highlight .nf {
    color: var(--blue);
}
.code .nl, .highlight .nl {
    color: var(--violet);
}
.code .nt, .highlight .nt {
    /* See also: Keyword (k) */
    color: var(--green);
    font-weight: bold;
}

/* Literals
 *
 * l: Literal; ld: Literal.Date
 * m: Number; mb: Number.Bin; mh: Number.Hex; mo: Number.Oct
 * mf: Number.Float; mi: Number.Integer; il: Number.Integer.Long
 * s: String; sb: String.Backtick; s2: String.Double; s1: String.Single
 * sh: String.Heredoc
 * sa: String.Affix
 * sc: String.Char
 * dl: String.Delimiter
 * sd: String.Doc
 * se: String.Escape
 * si: String.Interpol
 * sx: String.Other
 * sr: String.Regex
 * ss: String.Symbol
 */
.code .l, .code .ld,
.code .s, .code .sb, .code .s2, .code .s1,
.code .sh,
.highlight .l, .highlight .ld,
.highlight .s, .highlight .sb, .highlight .s2, .highlight .s1,
.highlight .sh {
    color: var(--strong-fg-color);
}
.code .m, .code .mb, .code .mh, .code .mo,
.code .mf, .code .mi, .code .il,
.highlight .m, .highlight .mb, .highlight .mh, .highlight .mo,
.highlight .mf, .highlight .mi, .highlight .il {
    color: var(--cyan);
}
.code .sa, .highlight .sa {
    color: var(--magenta);
}
.code .sc, .highlight .sc {
    color: var(--strong-fg-color);
}
.code .dl, .highlight .dl {
    color: var(--cyan);
}
.code .sd, .highlight .sd {
    /* See also: Comment (c) */
    color: var(--faint-fg-color);
    font-style: italic;
}
.code .se, .highlight .se {
    color: var(--magenta);
}
.code .si, .highlight .si {
    color: var(--magenta);
}
.code .sx, .highlight .sx {
    color: var(--magenta);
}
.code .sr, .highlight .sr {
    color: var(--strong-fg-color);
}
.code .ss, .highlight .ss {
    /* See also: Name */
}

/* Operators
 *
 * o: Operator; ow: Operator.Word
 */
.code .o, .code .ow, .highlight .o, .highlight .ow {
    color: var(--green);
}

/* Punctuation */
.code .p, .highlight .p {
    color: var(--faint-fg-color);
}

/* Comments
 *
 * c: Comment; cm: Comment.Multiline; c1: Comment.Single
 * ch: Comment.Hashbang
 * cp: Comment.Preproc; cpf: Comment.PreprocFile
 * cs: Comment.Special
 */
.code .c, .code .cm, .code .c1,
.highlight .c, .highlight .cm, .highlight .c1 {
    /* See also: String.Doc (sd) */
    color: var(--faint-fg-color);
    font-style: italic;
}
.code .ch, .highlight .ch {
    color: var(--orange);
}
.code .cp, .code .cpf,
.highlight .cp, .highlight .cpf {
    color: var(--yellow);
}
.code .cs, .highlight .cs {
    color: var(--magenta);
    font-style: italic
}

/* Generic Elements
 *
 * g: Generic
 * gd: Generic.Deleted; gi: Generic.Inserted
 * ge: Generic.Emph; gs: Generic.Strong
 * gr: Generic.Error
 * gh: Generic.Heading; gu: Generic.Subheading
 * go: Generic.Output; gp: Generic.Prompt
 * gt: Generic.Traceback
 */
.code .g, .highlight .g {
    /* Same as plain text. */
}
.code .gd, .highlight .gd {
    text-decoration: line-through solid var(--red);
}
.code .gi, .highlight .gi {
    text-decoration: underline overline dashed var(--green);
}
.code .ge, .highlight .ge {
    font-style: italic;
}
.code .gs, .highlight .gs {
    font-weight: bold;
}
.code .gr, .highlight .gr {
    border: 1px solid var(--red);
    font-style: italic;
}
.code .gh, .highlight .gh {
    /* Same as h5 tag. */
    font-size: var(--body-font-size);
    text-decoration: underline solid;
}
.code .gu, .highlight .gu {
    /* Same as h6 tag. */
    font-size: var(--body-font-size);
    text-decoration: underline dotted;
}
.code .go, .highlight .go {
    background-color: var(--standout-bg-color);
    color: var(--faint-fg-color);
}
.code .gp, .highlight .gp {
    border: 1px solid var(--orange);
    font-weight: bold;
}
.code .gt, .highlight .gt {
    background-color: var(--standout-bg-color);
    color: var(--yellow);
}