# EditorConfig: http://EditorConfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# Top level of project.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.ebnf]
max_line_length = 79

[*.md]
max_line_length = 79

[*.{py,py.jinja}]
max_line_length = 79

[*.{rs,rs.jinja}]
max_line_length = 79

[*.{rst,rst.jinja}]
indent_size = 2
max_line_length = 79

[*.{toml,toml.jinja}]
indent_size = 2

[*.yaml]
indent_size = 2
