@charset "UTF-8";

/*
	Copyright © 2014-2022 Daniel Aleksandersen and others.

	Permission is hereby granted, free of charge, to any
	person obtaining a copy of this software and associated
	documentation files (the "Software"), to deal in the
	Software without restriction, including without limitation
	the rights to use, copy, modify, merge, publish,
	distribute, sublicense, and/or sell copies of the
	Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice
	shall be included in all copies or substantial portions of
	the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
	KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
	WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
	PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
	OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
	OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
	OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
	SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/* Useful References:
 * - https://getnikola.com/theming.html
 * - https://www.w3schools.com/cssref/css_selectors.asp
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/length
 * - https://www.w3schools.com/colors/colors_converter.asp
 */

/* Font families per https://systemfontstack.com/
 * with Georgia and Lora inserted for the serif family.
 */
:root {
    --serif-fonts: Georgia, Lora, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --monospace-fonts: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --body-font-size:  14pt;
    --code-font-size:  12pt;
    --tier4-font-size: 16pt;
    --tier3-font-size: 20pt;
    --tier2-font-size: 24pt;
    --tier1-font-size: 28pt;
}

/* Google Material Recommended Base Colors:
 * - https://material.io/design/color/dark-theme.html
 * - https://material.io/design/color/dark-theme.html#properties
 */
:root {
    --black:     #000000;
    --dark-gray: #121212;
    --off-white: #faf9f6;
    --white:     #ffffff;
}

/* Solarized Colors:
 * - https://ethanschoonover.com/solarized
 * - https://ethanschoonover.com/solarized/#usage-development
 */
:root {
    --solarized-base03:  #002b36;
    --solarized-base02:  #073642;
    --solarized-base01:  #586e75;
    --solarized-base00:  #657b83;
    --solarized-base0:   #839496;
    --solarized-base1:   #93a1a1;
    --solarized-base2:   #eee8d5;
    --solarized-base3:   #fdf6e3;
    --solarized-blue:    #268bd2;
    --solarized-cyan:    #2aa198;
    --solarized-green:   #859900;
    --solarized-magenta: #d33682;
    --solarized-orange:  #cb4b16;
    --solarized-red:     #dc322f;
    --solarized-violet:  #6c71c4;
    --solarized-yellow:  #b58900;
}

.solarized-dark {
    --body-bg-color:        var(--dark-gray);
    --body-fg-color:        var(--off-white);
    --main-bg-color:        var(--solarized-base03);
    --standout-bg-color:    var(--solarized-base02);
    --main-fg-color:        var(--solarized-base0);
    --strong-fg-color:      var(--solarized-base1);
    --faint-fg-color:       var(--solarized-base01);
    --blue:                 var(--solarized-blue);
    --cyan:                 var(--solarized-cyan);
    --green:                var(--solarized-green);
    --magenta:              var(--solarized-magenta);
    --orange:               var(--solarized-orange);
    --red:                  var(--solarized-red);
    --violet:               var(--solarized-violet);
    --yellow:               var(--solarized-yellow);
}

.solarized-light {
    --body-bg-color:        var(--white);
    --body-fg-color:        var(--black);
    --main-bg-color:        var(--solarized-base3);
    --standout-bg-color:    var(--solarized-base2);
    --main-fg-color:        var(--solarized-base00);
    --strong-fg-color:      var(--solarized-base01);
    --faint-fg-color:       var(--solarized-base1);
    --blue:                 var(--solarized-blue);
    --cyan:                 var(--solarized-cyan);
    --green:                var(--solarized-green);
    --magenta:              var(--solarized-magenta);
    --orange:               var(--solarized-orange);
    --red:                  var(--solarized-red);
    --violet:               var(--solarized-violet);
    --yellow:               var(--solarized-yellow);
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-fg-color);
    font-family: var(--serif-fonts);
	font-size: var(--body-font-size);
	line-height: 1.4;
	padding: 1em;
}

h6 {
    font-size: var(--body-font-size);
    text-decoration: underline dotted;
}

h5 {
    font-size: var(--body-font-size);
    text-decoration: underline solid;
}

h4 {
    font-size: var(--tier4-font-size);
}

h3 {
    font-size: var(--tier3-font-size);
}

h2 {
    font-size: var(--tier2-font-size);
}

h1 {
    font-size: var(--tier1-font-size);
}

h1#brand {
    margin: 0;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

ul li {
    padding: 0.2rem;
}

ul.simple li::before {
	content: "\2756"; /* Black Diamond Minus White X */
	position: absolute;
	left: 0;
}

ul.pros li::before {
    content: url(../../assets/svg/plus-in-circle.svg);
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}

ul.cons li::before {
    content: url(../../assets/svg/minus-in-circle.svg);
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}

.admonition {
    margin: 0;
    padding: 0;
}

aside.admonition {
    background-color: var(--standout-bg-color);
    border: 2px solid;
    border-radius: 5px;
}

aside.admonition p {
    margin: 0.5em;
}

.admonition.attention,
.admonition.important {
    border-color: var(--orange);
}

.admonition.caution,
.admonition.danger,
.admonition.warning {
    border-color: var(--yellow);
}

.admonition.error {
    border-color: var(--red);
}

.admonition.hint,
.admonition.note,
.admonition.tip {
    border-color: var(--blue);
}

.admonition-title {
    border-bottom: 1px dashed;
    border-color: inherit;
    padding-bottom: 0.5em;
}

.admonition.attention .admonition-title,
.admonition.important .admonition-title {
    color: var(--orange);
}

.admonition.caution .admonition-title,
.admonition.danger .admonition-title,
.admonition.warning .admonition-title {
    color: var(--yellow);
}

.admonition.error .admonition-title {
    color: var(--red);
}

.admonition.hint .admonition-title,
.admonition.note .admonition-title,
.admonition.tip {
    color: var(--blue);
}

/* Code and Special Text */

pre, code, table.codetable,
.code, .highlight {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.docutils.literal,
pre.literal-block, pre.doctest-block, pre.math, pre.code, code {
    font-family: var(--monospace-fonts);
    font-size: var(--code-font-size);
}
pre.code, pre.literal-block, code {
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

div.line-block div.line-block, pre { margin: 0px; }
div.topic, pre.literal-block, pre.doctest-block, pre.math, pre.code, div.code {
    margin: 0px;
}
div.code { border-radius: 5px; }
pre.code, pre.literal-block, code, table.codetable {
    margin: 0.5rem 0rem;
    padding: 0.5em;
    border-radius: 5px;
}
table.codetable code { border-radius: 0; }

.docutils.literal {
    background-color: inherit;
    border-radius: 0;
    font-size: var(--body-font-size);
    padding: 0;
}

td.linenos.linenodiv {
    background-color: var(--main-bg-color);
    color: var(--faint-fg-color);
}
td.linenos.linenodiv a code::before {
    content: attr(data-line-number);
}

.palette-selector-container {
    display: inline-block;
    vertical-align: middle;
}
.palette-selector {
    color: var(--main-fg-color);
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
}
.palette-selector svg {
    vertical-align: middle;
    height: 1rem;
    width: 1rem;
    display: none;
}
.palette-selector-header {
    float: left;
    padding: 1rem 0.5rem;
}
body[data-theme="auto"] .palette-selector svg.theme-icon-when-auto {
    display: block;
}
body[data-theme="dark"] .palette-selector svg.theme-icon-when-dark {
    display: block;
}
body[data-theme="light"] .palette-selector svg.theme-icon-when-light {
    display: block;
}

#container {
	margin: 1em auto;
	max-width: 770px;
}
#menu ul,
#menu ul li,
.postpromonav .tags,
.postpromonav .tags li,
.pager,
.pager li,
#toptranslations ul,
#toptranslations ul li {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}

#menu {
    display: inline-block;
}

#menu ul li::before, ul.breadcrumb li::before {
    content: none;
}

#toptranslations ul {
	display: inline;
}

#menu ul li,
#toptranslations ul li {
	display: inline-block;
	margin-right: 1.5em;
}

#toptranslations h2 {
	display: inline;
	font-size: 1em;
	margin-right: 1.5em;
}

html[dir="rtl"] #menu ul li,
html[dir="rtl"] #toptranslations ul li,
html[dir="rtl"] #toptranslations h2 {
	margin-left: 1.5em;
	margin-right: 0;
}

#toptranslations {
	text-align: right;
	float: right;
}

html[dir="rtl"] #toptranslations {
	text-align: left;
	float: left;
}

.posttranslations h3, .translationslist h3 {
	display: inline;
	font-size: 1em;
}

.entry-title {
	font-size: 2em;
}

.posttranslations h3:last-child, .translationslist h3:last-child {
	display: none;
}

.postindex article {
	border-bottom: 1px solid var(--faint-fg-color);
	padding-bottom: 1em;
}
#header {
	border-bottom: 1px solid var(--faint-fg-color);
}
#footer {
	border-top: 1px solid var(--faint-fg-color);
}

#header, #footer {
    text-align: center;
}

.metadata p {
    font-size: var(--code-font-size);
}
div.metadata {
    margin: 2em;
    margin-left: 3em;
}

/* Tags */
.postpromonav {
	border-bottom: 1px solid var(--faint-fg-color);
	border-top: 1px solid var(--faint-fg-color);
	margin-top: 1em;
	padding: .5em 0;
}
.postpromonav .tags {
	text-align: center;
}
.metadata p:before,
.postpromonav .tags li:before,
.postlist .listdate:after,
.translationslist p:before {
	content: " — ";
}
.postlist li {
	margin-bottom: .33em;
}
.byline a:not(:last-child):after {
	content: ",";
}

/* Post and archive pagers */
.postindexpager .pager .next:before {
	content: "↓ ";
}
.postindexpager .pager .previous:before,
.archivenav .pager .up:before {
	content: "↑ ";
}
.postpromonav .pager .next:after,
.archivenav .pager .next:after {
	content: " →";
}
html[dir="rtl"] .postpromonav .pager .previous:after,
html[dir="rtl"] .archivenav .pager .previous:after {
	content: " →";
}
.postpromonav .pager .previous:before,
.archivenav .pager .previous:before {
	content: "← ";
}
html[dir="rtl"] .postpromonav .pager .next:before,
html[dir="rtl"] .archivenav .pager .next:before {
	content: "← ";
}
html[dir="rtl"] .postpromonav .pager .next:after,
html[dir="rtl"] .archivenav .pager .next:after,
html[dir="rtl"] .postpromonav .pager .previous:before,
html[dir="rtl"] .archivenav .pager .previous:before {
	content: "";
}
.metadata p:first-of-type:before,
.postpromonav .tags li:first-of-type:before,
.translationslist p:first-of-type:before {
	content: "";
}
.postpromonav .pager {
	clear: both;
	height: 1em;
}
.postpromonav .tags li,
.postpromonav .pager li,
.archivenav .pager li {
	display: inline-block;
}
.archivenav .pager {
	text-align: center
}
.postpromonav .pager .next,
.archivenav .pager .next {
	float: right;
}
html[dir="rtl"] .postpromonav .pager .next,
html[dir="rtl"] .archivenav .pager .next {
	float: left;
}

.postpromonav .pager .previous,
.archivenav .pager .previous {
	float: left;
}
html[dir="rtl"] .postpromonav .pager .previous,
html[dir="rtl"] .archivenav .pager .previous {
	float: right;
}

/* Navigation */

.archivenav .pager .disabled,
.archivenav .pager .disabled a,
.archivenav .pager .disabled:link {
	color: var(--faint-fg-color);
	cursor: not-allowed;
}
.breadcrumb > li::after { color: var(--main-fg-color); }

.metadata p,
.translationslist p {
	display: inline;
}

#brand {
	font-size: 3em;
	line-height: 1;
}

/* Links */

:link {
    color: var(--blue);
    text-decoration: none;
}
:visited {
    color: var(--violet);
}
:link:hover,
:visited:hover {
	color: var(--blue);
}
#brand :link,
#brand :visited {
	color: inherit;
}

/* Images */
img {
	border: none;
	line-height: 1;
}

.postpage img,
.postpage object,
.postindex article img,
.postindex article object {
	height: auto;
	max-width: 100%;
}

/* Comment helpers */
#disqus_thread {
	min-height: 325px;
}

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
}

.breadcrumb > li {
	display: inline-block;
	margin-right: 0;
	margin-left: 0;
}

.breadcrumb > li:after { content: ' / '; }

.breadcrumb > li:last-of-type:after {
	content: '';
	margin-left: 0;
}

.thumbnails {
	list-style: none;
	padding: 0;
}

.thumbnails > li {
	display: inline-block;
	margin-right: 10px;
}

.thumbnails > li:last-of-type {
	margin-right: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

/* Set a minimum logo height to ensure .svg are displayed if there is no brand text (#3493) */
#logo {
	min-height: 25px;
}

/* Cloak for textual elements to only be shown to screen readers. */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* SOURCE: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
		font-family: var(--serif-fonts);
	}

	body {
		font-size: 12pt;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after,
	a[href^="data:"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.hidden-print {
		display: none !important;
	}

	article .entry-title a[href]:after,
	article .metadata a[href]:after,
	article .tags a[href]:after {
		content: "";
	}

	article .metadata .sourceline {
		display: none;
	}

	article .metadata .linkline a[href]:after {
		content: " (" attr(href) ")";
	}

	#header {
		display: none;
	}

	.postpromonav {
		padding: 0;
	}
}
